
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

select,input,textarea{
     border: #c586a5;
    overflow: pink;
    
}

*{
    font-family: Outfit;
}
.active{
    background-color: #ffebf5;
    border-color: #c586a5;
}


